<?xml version="1.0"?>
<config>
    <default>
        <payment>
            <cardinity>
                <active>0</active>
                <title>Cardinity</title>
                <model>Cardinity\Magento\Model\PaymentModel</model>
                <payment_action>sale</payment_action>
                <order_status>pending_payment</order_status>
                <cctypes>MC,MI,VI,DN</cctypes>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <cardinity_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <cardinity_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </cardinity>
        </payment>
    </default>
</config>
