<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Cardinity\Payment\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="cardinity" xsi:type="const">Cardinity\Payment\Model\PaymentModel::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cardinity_config_provider" xsi:type="object">Cardinity\Payment\Model\ConfigProvider</item>
                <item name="checkout_config_custom_data" xsi:type="object">Cardinity\Payment\Model\CustomConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Cardinity\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Cardinity\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cardinityLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Cardinity\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
